#ssl_cert_dn {
	width: 460px;
}

#chooser_dn_submit, #chooser_dav_path_submit {
	vertical-align: top;
	margin-top: 4px;
}

.section #allow_internal_dav {
    vertical-align: 0;
}

#chooser_sd_cert_key_delete {
  margin-left: 14px;
}